[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Chukwuma Uzoh
	email = 148906938+uzohc@users.noreply.github.com
[gui]
	recentrepo = C:/Users/User 1/chuks
[init]
	default = branch
	default = branch
